<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString"
     connectionString="Data Source=.\SQLExpress;Initial Catalog=Belatrix;User Id=sa;Password=123456" />
  </connectionStrings>
  <appSettings>
    <add key="LogFileDirectory" value="C:\LogFileDirectory\" />
  </appSettings>
</configuration>